  body{
    background-color: #749ac4;
  }
  
  .display-3{
    background-color:rgba(125, 160, 203,0);
    text-shadow: 8px 8px 16px #1a1a1a;
  }

  @media screen {
    .bg {
      background-color: #749ac4;
      margin-top: 50%;
    }  
}
@media screen and (min-width:600px) {
    .bg {
      background-color: #749ac4;
      margin-top: 0;
    }  
}